body {
  background-image: url("../media/worldmap.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgb(102, 81, 81);
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

h2 {
  color: rgb(134, 112, 112);
  margin: 8px 5px 1px 0px;
}

.container {
  background: linear-gradient(
    -180deg,
    rgba(245, 235, 235, 0.4) 0%,
    rgba(134, 112, 112, 0.4) 100%
  );
  border-radius: 5px;
  box-shadow: rgba(50, 50, 50, 0.3) 0px 3px 10px 0px;
  margin: 0 auto;
  max-width: 250px;
  padding-bottom: 10px;
}

select {
  background-color: rgb(213, 180, 180, 0.4);
  border-color: rgba(134, 112, 112, 0.4);
  border-radius: 3px;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
}

.city {
  padding: 5px 20px;
}

.cdate,
.ctime {
  padding-left: 20px;
}

footer {
  color: #a0a6d5;
  font-size: 10px;
  text-align: center;
}

a {
  color: #868aad;
  text-decoration: none;
}
